
body {
  width: 100%;
  font-family: "roboto", sans-serif;
  header {
    background: url("../images/header-background.png") no-repeat;
    background-size: cover;
    align-items: center;
    width: 100%;
    .header {
      width: 1200px;
      display: flex;
      flex-direction: row;
      margin: 0px auto;
      padding: 30px 0;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #414141;
      nav {
        ul {
          display: flex;
          li {
            padding-right: 18px;
            a {
              font-size: 16px;
              color: #fff;
              font-weight: 400;
              &:hover {
                color: #69f0ae;
              }
            }
          }
        }
      }
    }
    section {
      width: 700px;
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px auto;
      color: white;
      h3 {
        font-size: 38px;
        color: #69f0ae;
        font-weight: 700;
      }
      p {
        margin: 0 auto;
        width: 55%;
        color: #848383;
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 35px;
        font-weight: normal;
        text-align: center;
      }
      button {
        width: 220px;
        height: 50px;
        border: 2px solid #69f0ae;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        background: none;
        outline: none;
        cursor: pointer;

        &:hover {
          color: #398561;
        }
      }
      #scroll {
        a {
          display: block;
          padding: 20px;
          margin-top: 100px;
        }
      }
    }
  }
  h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 15px;
  }
  article {
    display: flex;
    color: #000;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    .whoamus {
      width: 500px;
      text-align: right;
      border-right: 1px solid #efefef;
      h4 {
        font-weight: 300;
        font-size: 15px;
        margin-right: 50px;
      }
      p {
        font-style: 14px;
        font-weight: 300;
        line-height: 30px;
        margin-right: 50px;
      }
    }
    .importforus {
      text-align: left;
      width: 500px;
      h4 {
        font-weight: 300;
        font-size: 15px;
        margin-left: 50px;
      }
      ul {
        margin-right: 50px;
        li {
          line-height: 30px;
          font-weight: 300;
          a {
            display: inline-block;
            margin-right: 10px;
            width: 120px;
            height: 40px;
            background-color: #69f0ae;
            line-height: 35px;
            text-align: center;
            color: #302c2a;
            font-weight: bold;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  aside {
    width: 100%;
    background-color: #efefef;
    #future {
      width: 1200px;
      display: flex;
      margin: 0px auto;
      align-items: center;
      justify-content: space-between;
      height: 120px;
      h4 {
        font-size: 30px;
        font-weight: 300;
      }
      button {
        width: 200px;
        height: 45px;
        background: none;
        border: 1px solid #c8c8c8;
        font-size: 17px;
        font-weight: 600;
        outline: none;
        cursor: pointer;
        margin-right: 20px;
      }
    }
    .sayfa {
      width: 700px;
      margin: 0 auto;
      .sliderKonum {
        position: relative;
        width: 700px;
        height: 400px;
        overflow: hidden;
      }
      .img-bir {
        left: 0px;
      }
      .img-iki {
        left: 700px;
      }
      .img-uc {
        left: 1400px;
      }
      .sliderKonum > .slider {
        position: absolute;
        left: 0px;
        width: 2800px;
        height: 400px;
        -webkit-animation-duration: 10s;
        -webkit-animation-name: sliders;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-duration: 10s;
        -moz-animation-name: sliders;
        -moz-animation-iteration-count: infinite;
        -ms-animation-duration: 10s;
        -ms-animation-name: sliders;
        -ms-animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-iteration-count: infinite;
      }
      @-webkit-keyframes sliders {
        0% {
          left: 0px;
        }
        10% {
          left: 0px;
        }
        20% {
          left: -700px;
        }
        30% {
          left: -700px;
        }
        40% {
          left: -1400px;
        }
        50% {
          left: -1400px;
        }
      }
      @-moz-keyframes sliders {
        0% {
          left: 0px;
        }
        10% {
          left: 0px;
        }
        20% {
          left: -700px;
        }
        30% {
          left: -700px;
        }
        40% {
          left: -1400px;
        }
        50% {
          left: -1400px;
        }
      }
      @-ms-keyframes sliders {
        0% {
          left: 0px;
        }
        10% {
          left: 0px;
        }
        20% {
          left: -700px;
        }
        30% {
          left: -700px;
        }
        40% {
          left: -1400px;
        }
        50% {
          left: -1400px;
        }
      }
      @keyframes sliders {
        0% {
          left: 0px;
        }
        10% {
          left: 0px;
        }
        20% {
          left: -700px;
        }
        30% {
          left: -700px;
        }
        40% {
          left: -1400px;
        }
        50% {
          left: -1400px;
        }
      }
    }
  }
  footer {
    background-color: #202123;
    align-items: center;
    width: 100%;
    h4 {
      font-weight: 400;
      font-size: 25px;
      color: #fff;
      padding-top: 15px;
      text-align: center;
    }
    #footer {
      width: 1200px;
      display: flex;
      margin: 0px auto;
      justify-content: space-between;
      .contact {
        display: flex;
        flex-direction: column;
        width: 400px;
        p {
          font-size: 14px;
          font-weight: 300;
          color: #525253;
        }
        b {
          color: #fff;
          font-size: 16px;
          font-weight: 300;
          padding-bottom: 15px;
        }
        .social-media {
          width: 300px;
          padding-top: 10px;
          a {
            padding-right: 30px;
            display: inline-block;
          }
        }
      }
      .information {
        display: flex;
        width: 750px;
        flex-wrap: wrap;
        justify-content: space-around;
        input {
          width: 335px;
          height: 45px;
          margin-bottom: 20px;
          background-color: #242527;
          border: 1px solid #3a3b3b;
          padding-left: 15px;
          outline: none;
          color: #525253;
        }
        textarea {
          width: 335px;
          height: 45px;
          margin-bottom: 20px;
          background-color: #242527;
          border: 1px solid #3a3b3b;
          padding-left: 15px;
          outline: none;
          resize: none;
          color: #525253;
        }
        input::placeholder {
          color: #525253;
        }
        button {
          width: 335px;
          height: 60px;
          background-color: #242527;
          color: #fff;
          border: none;
          font-size: 16px;
          font-weight: 300;
          outline: none;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
